body{
background:linear-gradient(to bottom,#071221,#0d1c33);
color:white;
font-family:Arial,sans-serif;
margin:0;
}

nav{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 50px;
}

.logo{
font-size:30px;
font-weight:bold;
color:#8fd3ff;
}

.menu a{
color:white;
text-decoration:none;
margin:0 12px;
}

.buttons a{
text-decoration:none;
padding:12px 20px;
border-radius:10px;
margin-left:10px;
}

.join{
background:#8fd3ff;
color:black;
}

.discord{
background:#1b2d4f;
color:white;
}

.hero{
text-align:center;
padding:100px 20px;
}

.hero h1{
font-size:80px;
color:#8fd3ff;
}

.hero p{
max-width:800px;
margin:auto;
line-height:1.8;
font-size:18px;
}

.cards{
display:flex;
justify-content:center;
gap:30px;
margin-top:50px;
flex-wrap:wrap;
}

.card{
background:#132544;
padding:25px;
width:300px;
border-radius:20px;
}
